.loginPage {
  height: 100vh;
  display: flex;
  .logPho {
    height: 100vh;
    width: 870px;
    overflow: hidden;
  }
  .loginCard {
    width: calc(100% - 870px);
    background-color: $back-black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 4em;

    .topLogo {
      img {
        width: 140px;
      }
    }
    .label {
      margin-bottom: 2em;
      span {
        color: $color-white;
        font-weight: $font-bold;
        font-size: 1.6em;
      }
    }
    .fFlex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        color: #aeaeae;
        font-size: 1.1em;
        text-decoration: none;
        font-weight: $font-bold;
      }
    }
    .pBtn {
      min-width: 160px;
    }
    .signMe {
      margin-top: 1em;
      color: $color-white;
      font-size: 1.1em;
      a {
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}

//Oauth
.oauth {
  display: flex;
  margin-bottom: 2em;
  .butcons {
    border-radius: 5px;
    transition: 0.3s;
    a {
      display: flex;
      align-items: center;
      padding: 0.8em 1em;
      color: $color-white;
      text-decoration: none;
      img {
        margin-right: 0.5em;
      }
    }
    &:first-child {
      border: 1px solid #ea4335;
      background-color: #3b2524;
      margin-right: 1em;
      &:hover {
        background-color: #ea4335;
      }
    }
    &:last-child {
      border: 1px solid #1877f2;
      background-color: #1877f229;
      &:hover {
        background-color: #1877f2;
      }
    }
  }
}
