.filter {
  display: flex;
  align-items: center;
  .filItem {
    padding: 0.3em 0.8em;
    background-color: #484848;
    cursor: pointer;
    color: $color-white;
    margin-left: 1em;
    border-radius: 2px;
    &.active {
      background-color: #888;
    }
  }
}

.videoListings {
  .topper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    border-bottom: 1px solid #999999;
    @include sm {
      flex-wrap: wrap;
    }
    .lf {
      display: flex;
      align-items: center;
      @include sm {
        justify-content: space-between;
        width: 100%;
      }
      span {
        font-size: 1.6em;
        font-weight: $font-bold;
        color: $color-white;
        @include sm {
          font-size: 1em;
        }
      }
    }
    .rt {
      display: flex;
      align-items: center;
      @include sm {
        margin-top: 1em;
        width: 100%;
        justify-content: space-between;
      }
      .searchVid {
        input {
          border: 0;
          background-color: #525252;
          color: $color-white;
          font-size: 0.8em;
          padding: 0.4em 0.8em;
          border-radius: 4px;
          &:focus {
            outline: 0;
          }
          &::placeholder {
            color: $color-white;
          }
        }
      }
      .upload {
        a {
          margin-left: 1em;
          padding: 0.4em 0.8em;
          font-size: 0.8em;
          text-decoration: none;
        }
      }
    }
  }

  .videosLists {
    .vidItem {
      border-bottom: 1px solid #999999;
      padding: 1em 0;
      transition: 0.3s;
      &:hover {
        background-color: #292929;
      }
      .vImg {
        border-radius: 5px;
        overflow: hidden;
        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
          @include sm {
            height: auto;
          }
        }
      }
      .vDesc {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include md {
          width: 100%;
        }
        .main {
          color: $color-white;
          .vTitle {
            font-weight: $font-bold;
            font-size: 1.8em;
            @include sm {
              font-size: 1.2em;
            }
            i {
              &.success {
                color: #34a853;
              }
              &.pend {
                color: #a1a1a1;
              }
            }
          }
          p {
            font-size: 1em;
            @include sm {
              font-size: 0.8em;
            }
          }
        }
      }
      .actions {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include sm {
          margin-top: 0.5em;
        }
        .butcons {
          display: flex;
          a.act {
            display: inline-block;
            padding: 0.4em;
            border-radius: 4px;
            width: 30px;
            height: 30px;
            text-align: center;
            i {
              font-size: 1.1em;
              color: $color-white;
            }
            &.delete {
              background-color: #f33e00;
              margin-left: 0.5em;
            }
            &.edit {
              background-color: #34a853;
            }
          }
        }
      }
    }
  }
}

.clientsLists {
  .clientItem {
    .uInfo {
      .uImg {
        width: 60px;
        height: 60px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .uMeta {
      .uName {
        font-size: 1.4em;
        font-weight: $font-bold;
        color: $color-white;
      }
      .uDesig,
      .uAddress {
        font-size: 1em;
        color: #c4c4c4;
      }
      .uMail {
        color: #c4c4c4;
        font-size: 1.2em;
      }
    }
    .uGroups {
      display: flex;
      align-items: center;
      height: 100%;
      flex-wrap: wrap;
      width: 70%;
      @include lg {
        width: 100%;
      }
      @include sm {
        margin: 1em 0;
      }
      .gItem {
        padding: 0.3em 0.8em;
        background-color: #484848;
        cursor: pointer;
        color: #fff;
        margin-left: 1em;
        border-radius: 2px;
      }
    }

    .userAction {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @include sm {
        margin-top: 0.5em;
      }
      .butcons {
        display: flex;
        a.act {
          display: inline-block;
          padding: 0.4em;
          border-radius: 4px;
          width: 30px;
          height: 30px;
          text-align: center;
          transition: 0.3s;
          i {
            font-size: 1.1em;
            color: $color-white;
          }
          &.delete {
            border: 1px solid #f33e00;
            i {
              color: #f33e00;
              font-size: 1em;
            }
            margin-left: 0.5em;
            &:hover {
              border: 2px solid #f33e00;
            }
          }
          &.edit {
            border: 1px solid #34a853;
            i {
              color: #34a853;
              font-size: 1em;
            }
            &:hover {
              border: 2px solid #34a853;
            }
          }
        }
      }
    }
  }
}

.groupsLists {
  .gAvt {
    border-radius: 4px;
    overflow: hidden;
    img {
      width: 100%;
      height: 135px;
      object-fit: cover;
    }
  }
  .gDesc {
    width: 70%;
    @include lg {
      width: 100%;
    }
    color: $color-white;
    .gTitle {
      font-size: 1.4em;
      font-weight: $font-bold;
    }
    .gExe {
      p {
        white-space: pre-line;
        font-size: 0.9em;
      }
    }
  }
}
