html,
body {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
@import "./var/index.scss";
@import "./layouts/index.scss";

//Importing Pages
@import "./page/index.scss";

//Imporitng Widgets
@import "./widgets/index.scss";

* {
  box-sizing: border-box;
}

a {
  &:hover {
    color: $color-white;
  }
}
