{% extends '../../layout/_layoutInner.twig' %} {% block title %} Login - Boxclip
{% endblock %} {% block javascripts %} {% endblock %} {% block contents %}

<div class="loginPage">
  <div class="logPho">
    <img src="../../img/login/logIllus.png" alt="" />
  </div>
  <div class="loginCard">
    <div class="topLogo">
      <img src="../../img/common/logo.png" alt="boxClip" />
    </div>
    <div class="logForm">
      <div class="label"><span>Sign In</span></div>

      <div class="oauth">
        <div class="butcons">
          <a href="#!">
            <img src="../../img/login/ggl.png" alt="" />
            <span>Sign Up with Google</span>
          </a>
        </div>
        <div class="butcons">
          <a href="#!">
            <img src="../../img/login/fb.png" alt="" />
            <span>Sign Up with Facebook</span>
          </a>
        </div>
      </div>

      <form action="/pages/dashboard">
        <div class="formItem">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="formItem">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="formItem form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <div class="fFlex">
            <label class="form-check-label" for="exampleCheck1"
              >Check me out</label
            >
            <a href="">Forgot Password</a>
          </div>
        </div>
        <button type="submit" class="btn pBtn">Sign In</button>
        <div class="signMe">
          Don’t have an account? <a href="./type"> Sign Up </a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
