{% extends '../../layout/_layoutInner.twig' %} {% block title %} Type - Boxclip
{% endblock %} {% block javascripts %} {% endblock %} {% block contents %}

<div class="packagePage">
  <div class="head">
    <div class="headRow">
      <div class="icon">
        <img src="../../img/common/logo.png" alt="" />
      </div>
      <div class="search"></div>
    </div>
  </div>

  <div class="tabBar">
    <div class="label"><span>Packages</span></div>

    <ul class="nav nav-tabs theTab" id="myTab" role="tablist">
      <li class="nav-item tabItem" role="presentation">
        <button
          class="nav-link active"
          id="monthly"
          data-bs-toggle="tab"
          data-bs-target="#monthly"
          type="button"
          role="tab"
          aria-controls="home"
          aria-selected="true"
        >
          Billed Monthly
        </button>
      </li>
      <li class="nav-item tabItem" role="presentation">
        <button
          class="nav-link"
          id="yearly"
          data-bs-toggle="tab"
          data-bs-target="#yearly"
          type="button"
          role="tab"
          aria-controls="profile"
          aria-selected="false"
        >
          Billed yearly
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="monthly"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        .m..
      </div>
      <div
        class="tab-pane fade"
        id="yearly"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        .y..
      </div>
    </div>
  </div>
</div>

{% endblock %}
