{% extends '../../layout/_layoutInner.twig' %} {% block title %} Type - Boxclip
{% endblock %} {% block javascripts %} {% endblock %} {% block contents %}

<div class="typePage"></div>

{% endblock %}
