{% extends '../../layout/_layoutSidebar.twig' %} {% block title %}
Congratulations - Boxclip {% endblock %} {% block javascripts %} {% endblock %}
{% block contents %}

<div class="dashboardHome">
  {% include "./components/_header.twig" %}

  <div class="create">
    <div class="container">
      <div class="creHead">Create New Client</div>
      <strong class="msg">Congratulations</strong>
      <small class="cSub">You have sucessfully created your account.</small>
      <a href="./auth/login" class="pBtn bBlock">Login</a>
    </div>
  </div>
</div>

<script>
  (function () {
    //THe delete btn
    let Dbtn = document.createElement("button");
    Dbtn.className = "pDbtn";
    Dbtn.innerHTML = "Delete";

    Dbtn.addEventListener("click", (e) => {
      e.preventDefault();
      gPrev.classList.remove("choosed");
      gPrev.src = "";
    });

    let gPhoto = document.querySelector(".grpPhoto");
    gPhoto.addEventListener("change", (e) => {
      const [file] = e.target.files;
      if (file) {
        gPrev.src = URL.createObjectURL(file);
        gPrev.classList.add("choosed");
        document.querySelector(".groupPhoto").appendChild(Dbtn);
      }
    });
  })();
</script>

{% endblock %}
