{% extends '../../layout/_layoutSidebar.twig' %} {% block title %} Dashboard -
Boxclip {% endblock %} {% block javascripts %} {% endblock %} {% block contents
%}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

<div class="dashboardHome">
  {% include "./components/_header.twig" %}

  <!-- The Grids -->
  <div class="dashTiles">
    <div class="tileCard welcomeCard">
      <div class="user">
        <strong>Hello Adam</strong>
        <small>welcome back!!</small>
      </div>
      <div class="subType">
        <div class="info">
          <strong>Subscription Type - Gold</strong>
          <span>Your next bill is for 19.99 USD on 10/3/21.</span>
        </div>
        <div class="upgrade">
          <a href="#!" class="pBtn">Upgrade</a>
        </div>
      </div>
    </div>
    <div class="tileCard uploadStat">
      <canvas id="myChart"></canvas>
    </div>

    <div class="tileCard popularGroup">
      <div class="title">Popular Groups</div>
      <div class="tags">
        <div class="pBtn tagItem">Classics</div>
        <div class="pBtn tagItem">Documentry</div>
        <div class="pBtn tagItem">Drama</div>
        <div class="pBtn tagItem">Animie</div>
        <div class="pBtn tagItem">Horror</div>
        <div class="pBtn tagItem">Thriller</div>
        <div class="pBtn tagItem">Action</div>
        <div class="pBtn tagItem">Kids & Family</div>
      </div>
    </div>

    <div class="tileCard counterTile videoTile">
      <div class="icon">
        <svg
          width="36"
          height="24"
          viewBox="0 0 36 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M28 9V2C28 0.9 27.1 0 26 0H2C0.9 0 0 0.9 0 2V22C0 23.1 0.9 24 2 24H26C27.1 24 28 23.1 28 22V15L36 23V1L28 9Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="counter">
        <div class="title">Video</div>
        <div class="count">33</div>
      </div>
    </div>

    <div class="tileCard counterTile viewTile">
      <div class="icon">
        <svg
          width="32"
          height="22"
          viewBox="0 0 32 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16 0C8.72727 0 2.51636 4.56133 0 11C2.51636 17.4387 8.72727 22 16 22C23.2727 22 29.4836 17.4387 32 11C29.4836 4.56133 23.2727 0 16 0ZM16 18.3333C11.9855 18.3333 8.72727 15.048 8.72727 11C8.72727 6.952 11.9855 3.66667 16 3.66667C20.0145 3.66667 23.2727 6.952 23.2727 11C23.2727 15.048 20.0145 18.3333 16 18.3333ZM16 6.6C13.5855 6.6 11.6364 8.56533 11.6364 11C11.6364 13.4347 13.5855 15.4 16 15.4C18.4145 15.4 20.3636 13.4347 20.3636 11C20.3636 8.56533 18.4145 6.6 16 6.6Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="counter">
        <div class="title">Views</div>
        <div class="count">22.7k</div>
      </div>
    </div>

    <div class="tileCard trendingVideo">
      <div class="title">Trending Videos</div>

      <div class="videoRow">
        <a class="vidItem" href="#!">
          <div class="row">
            <div class="col-5">
              <div class="img">
                <img src="../../img/dashboard/vid1.png" alt="" />
              </div>
            </div>
            <div class="col-7">
              <div class="vidInfo">
                <div class="vidTitle">4th of July, 2020</div>
                <div class="vidDate">Dec 12, 2020</div>
              </div>
            </div>
          </div>
        </a>
        <a class="vidItem" href="#!">
          <div class="row">
            <div class="col-5">
              <div class="img">
                <img src="../../img/dashboard/vid2.png" alt="" />
              </div>
            </div>
            <div class="col-7">
              <div class="vidInfo">
                <div class="vidTitle">The Big Island</div>
                <div class="vidDate">Nov 17, 2020</div>
              </div>
            </div>
          </div>
        </a>
        <a class="vidItem" href="#!">
          <div class="row">
            <div class="col-5">
              <div class="img">
                <img src="../../img/dashboard/vid3.png" alt="" />
              </div>
            </div>
            <div class="col-7">
              <div class="vidInfo">
                <div class="vidTitle">Wesley Takes the M&M Test</div>
                <div class="vidDate">Mar 21, 2021</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="tileCard counterTile clientTile">
      <div class="icon">
        <svg
          width="29"
          height="19"
          viewBox="0 0 29 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.7727 8.14286C21.9609 8.14286 23.7141 6.32429 23.7141 4.07143C23.7141 1.81857 21.9609 0 19.7727 0C17.5845 0 15.8182 1.81857 15.8182 4.07143C15.8182 6.32429 17.5845 8.14286 19.7727 8.14286ZM9.22727 8.14286C11.4155 8.14286 13.1686 6.32429 13.1686 4.07143C13.1686 1.81857 11.4155 0 9.22727 0C7.03909 0 5.27273 1.81857 5.27273 4.07143C5.27273 6.32429 7.03909 8.14286 9.22727 8.14286ZM9.22727 10.8571C6.15591 10.8571 0 12.445 0 15.6071V19H18.4545V15.6071C18.4545 12.445 12.2986 10.8571 9.22727 10.8571ZM19.7727 10.8571C19.3905 10.8571 18.9555 10.8843 18.4941 10.925C20.0232 12.065 21.0909 13.5986 21.0909 15.6071V19H29V15.6071C29 12.445 22.8441 10.8571 19.7727 10.8571Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="counter">
        <div class="title">Clients</div>
        <div class="count">18</div>
      </div>
    </div>

    <div class="tileCard counterTile commentTile">
      <div class="icon">
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.99 2C19.99 0.9 19.1 0 18 0H2C0.9 0 0 0.9 0 2V14C0 15.1 0.9 16 2 16H16L20 20L19.99 2Z"
            fill="white"
          />
        </svg>
      </div>
      <div class="counter">
        <div class="title">Comments</div>
        <div class="count">22</div>
      </div>
    </div>

    <div class="tileCard"></div>

    <div class="tileCard"></div>
  </div>
</div>

<script>
  const labels = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Nov",
    "Dec",
  ];
  const data = {
    labels: labels,
    datasets: [
      {
        label: "Upload Statistics",
        backgroundColor: "#8A8484",
        borderColor: "#fff846",
        data: [4, 3, 1, 4, 8, 9, 8, 2, 1, 0, 2, 0],
        tension: 0.3,
      },
    ],
  };
  const config = {
    type: "line",
    data: data,
    legend: {
      display: false,
    },
    options: {
      responsive: true,
    },
    plugins: {
      datalabels: {
        display: false,
      },
    },
  };
  var ctx = document.getElementById("myChart").getContext("2d");
  window.myLine = new Chart(ctx, config);
</script>

{% endblock %}
