{% extends '../../layout/_layoutSidebar.twig' %} {% block title %} Player
Dashboard - Boxclip {% endblock %} {% block javascripts %} {% endblock %} {%
block contents %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

<div class="dashboardHome hideInnerHead">
  {% include "./components/_header.twig" %} {% include "../front/player.twig" %}
</div>

{% endblock %}
