{% extends '../../layout/_layoutSidebar.twig' %} {% block title %} Upload
Publish - Boxclip {% endblock %} {% block javascripts %} {% endblock %} {% block
contents %}

<div class="uploadPage">
  {% include "./components/_header.twig" %}

  <div class="timelineUpload">
    <div class="linear">
      <div class="stage passed">
        <div class="circle">
          <span>Upload</span>
        </div>
      </div>
      <div class="stage passed">
        <div class="circle">
          <span>Meta</span>
        </div>
      </div>
      <div class="stage passed">
        <div class="circle">
          <span>Privacy</span>
        </div>
      </div>
      <div class="stage passed">
        <div class="circle">
          <span>Publish</span>
        </div>
      </div>
    </div>
  </div>

  <div class="metaBox">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="thumbPart">
            <div class="selectedThumb">
              <img id="choosenThumb" src="../../img/upload/thumb1.png" alt="" />
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-lg-6">
          {% include "./components/_loading.twig" %}

          <div class="vidReady">
            <div class="publishCnt">
              <strong>Your video is ready to be Published </strong>
              <a href="./upload4" class="pBtn">Publish </a>
            </div>

            <div class="share">
              <input
                type="text"
                value="https://sonahangrai.com"
                id="copyLinkA"
                style="display: none"
              />
              <ul>
                <li>
                  <button
                    class="copyLink shareBtn"
                    data-url="https://sonahangrai.com"
                    onclick="Copy()"
                    id="liveToastBtn"
                  >
                    <i class="bi bi-link-45deg"></i>
                  </button>
                </li>
                <li>
                  <button
                    class="button shareBtn"
                    data-sharer="facebook"
                    data-hashtag=""
                    data-url="https://sonahangrai.com"
                  >
                    <i class="bi bi-facebook"></i>
                  </button>
                </li>
                <li>
                  <button
                    class="button shareBtn"
                    data-sharer="twitter"
                    data-title=""
                    data-hashtags=""
                    data-url="https://sonahangrai.com"
                  >
                    <i class="bi bi-twitter"></i>
                  </button>
                </li>
                <li>
                  <button
                    class="button shareBtn"
                    data-sharer="linkedin"
                    data-url="https://sonahangrai.com"
                  >
                    <i class="bi bi-linkedin"></i>
                  </button>
                </li>
              </ul>
            </div>

            <div
              class="position-fixed bottom-0 end-0 p-3 darkMe-toast"
              style="z-index: 11"
            >
              <div
                id="liveToast"
                class="toast"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
              >
                <div class="toast-body">
                  <strong> Link Copied</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
<script>
  let schedule = document.querySelectorAll("input[name=publish]");
  schedule.forEach((s) => {
    s.addEventListener("change", () => {
      if (s.id === "schedule") {
        document.querySelector(".childDate").style.display = "block";
      } else {
        document.querySelector(".childDate").style.display = "none";
      }
    });
  });

  //COpy link
  function Copy() {
    var Url = document.getElementById("copyLinkA");
    Url.select();
    navigator.clipboard.writeText(Url.value);
  }
  var toastTrigger = document.getElementById("liveToastBtn");
  var toastLiveExample = document.getElementById("liveToast");
  if (toastTrigger) {
    toastTrigger.addEventListener("click", function () {
      var toast = new bootstrap.Toast(toastLiveExample);

      toast.show();
    });
  }
</script>

{% endblock %}
