{% extends '../../layout/_layoutSidebar.twig' %} {% block title %} Upload Meta -
Boxclip {% endblock %} {% block javascripts %} {% endblock %} {% block contents
%}

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.7.2/tagify.min.css"
  integrity="sha512-PORIIhNf+D+ZYNDS1gC01CA7YEGkzNzPZu4Ja0m7ljo4SHJ2+xwRL04ysc0qCVh/brYgAbGjIHtqdwKzvDfQ3g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div class="uploadPage">
  {% include "./components/_header.twig" %}

  <div class="timelineUpload">
    <div class="linear">
      <div class="stage passed">
        <div class="circle">
          <span>Upload</span>
        </div>
      </div>
      <div class="stage passed">
        <div class="circle">
          <span>Meta</span>
        </div>
      </div>
      <div class="stage">
        <div class="circle">
          <span>Privacy</span>
        </div>
      </div>
      <div class="stage">
        <div class="circle">
          <span>Publish</span>
        </div>
      </div>
    </div>
  </div>

  <div class="metaBox">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="thumbPart">
            <div class="selectedThumb">
              <img id="choosenThumb" src="../../img/upload/thumb1.png" alt="" />
            </div>
            <div class="miniThumb">
              <div class="mThmb">
                <img id="mt1" src="../../img//upload/thumb2.png" alt="" />
              </div>
              <div class="mThmb">
                <img id="mt2" src="../../img//upload/thumb3.png" alt="" />
              </div>
              <div class="mThmb uploader">
                <label for="uTh">
                  <input type="file" id="uTh" accept="image/*" />
                  <span>Upload<br />New Thumbnail</span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-lg-6">
          {% include "./components/_loading.twig" %}

          <div class="metaForm">
            <form action="">
              <div class="formItem">
                <label for="titleVideo" class="form-label"
                  >Title of the Video</label
                >
                <input type="text" class="form-control" id="titleVideo" />
              </div>
              <div class="formItem">
                <label for="descriptionVideo" class="form-label"
                  >Description</label
                >
                <textarea
                  class="form-control"
                  style="min-height: 130px"
                  id="descriptionVideo"
                ></textarea>
              </div>
              <div class="formItem">
                <label for="tagsVideo" class="form-label">Tags</label>
                <input
                  name="tagsInp"
                  class="form-control customLook"
                  id="tagsVideo"
                  data-role="tagsinput"
                  value="funny, comedy, shotoniphone, autofocus"
                />
              </div>

              <div class="formItem">
                <label for="searchGroup" class="form-label">Groups</label>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1"
                    ><i class="bi bi-search"></i
                  ></span>
                  <input
                    class="form-control"
                    id="searchGroup"
                    data-role="tagsinput"
                    placeholder="Search for Groups here..."
                  />
                </div>
                <div class="selectedRow">
                  <div class="grp">
                    <i class="bi bi-x"></i>
                    <span>Classics</span>
                  </div>
                  <div class="grp">
                    <i class="bi bi-x"></i>
                    <span>Documentry</span>
                  </div>
                  <div class="grp">
                    <i class="bi bi-x"></i>
                    <span>Suspense</span>
                  </div>
                  <div class="grp">
                    <i class="bi bi-x"></i>
                    <span>Animie</span>
                  </div>
                  <div class="grp">
                    <i class="bi bi-x"></i>
                    <span>Drama</span>
                  </div>
                </div>
                <div class="foundGroups">
                  <div class="grpF">
                    <span>Action</span>
                  </div>
                  <div class="grpF">
                    <span>Comedies</span>
                  </div>
                  <div class="grpF">
                    <span>Crime</span>
                  </div>
                  <div class="grpF">
                    <span>Critic’s Picks</span>
                  </div>
                  <div class="grpF">
                    <span>Horror</span>
                  </div>
                  <div class="grpF">
                    <span>Independent</span>
                  </div>
                </div>
              </div>
            </form>
            <div class="surf">
              <a href="./upload3" class="pBtn"
                >Next <i class="bi bi-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.7.2/tagify.min.js"
  integrity="sha512-pQeN/hGcBNqB8dKCxsAP4BYwM6jWIY0PS/I3vDaUFsp5pMwXilrh2r2Z/PF5lWRp7awn43hkB8PDGZF9dGA8tg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  (function () {
    let mainThumb = document.querySelector("#choosenThumb");
    let defaultImg = mainThumb.src;
    //Creating object
    let containerThumb = document.querySelector(".miniThumb");
    let thePreview = document.createElement("div");
    thePreview.className = "mThmb";
    let remover = document.createElement("span");
    remover.id = "removeCust";
    remover.innerHTML = "X";
    thePreview.appendChild(remover);
    let imgPart = document.createElement("img");
    imgPart.id = "customThumb";
    let custAdded = false;

    uTh.onchange = (evt) => {
      const [file] = uTh.files;
      if (file) {
        imgPart.src = URL.createObjectURL(file);
        thePreview.appendChild(imgPart);
        containerThumb.appendChild(thePreview);
        mainThumb.src = URL.createObjectURL(file);
        custAdded = true;
        //HIde uploader
        document.querySelector(".uploader.mThmb").style.display = "none";
      }
    };

    imgPart.addEventListener("click", (e) => {
      mainThumb.src = e.target.src;
    });

    remover.addEventListener("click", () => {
      thePreview.remove();
      custAdded = false;
      mainThumb.src = defaultImg;
      document.querySelector(".uploader.mThmb").style.display = "flex";
    });

    //CLick change primary
    let thumbs = document.querySelectorAll(".mThmb img");
    thumbs.forEach((t) => {
      t.addEventListener("click", () => {
        mainThumb.src = t.src;
      });
    });

    //Tags input
    let tagInput = document.querySelector("input[name=tagsInp]");
    let tagify = new Tagify(tagInput, {
      whitelist: ["show", "tutorial", "meme", "funny"],
      blacklist: ["fuck", "shit", "dick"],
    });
  })();
</script>

{% endblock %}
