{% extends '../../layout/_layoutSidebar.twig' %} {% block title %} Upload Meta -
Boxclip {% endblock %} {% block javascripts %} {% endblock %} {% block contents
%}
<div class="uploadPage">
  {% include "./components/_header.twig" %}

  <div class="timelineUpload">
    <div class="linear">
      <div class="stage passed">
        <div class="circle">
          <span>Upload</span>
        </div>
      </div>
      <div class="stage passed">
        <div class="circle">
          <span>Meta</span>
        </div>
      </div>
      <div class="stage">
        <div class="circle">
          <span>Privacy</span>
        </div>
      </div>
      <div class="stage">
        <div class="circle">
          <span>Publish</span>
        </div>
      </div>
    </div>
  </div>

  <div class="metaBox">
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="thumbPart">
            <div class="selectedThumb">
              <img id="choosenThumb" src="../../img/upload/thumb1.png" alt="" />
            </div>
            <div class="miniThumb">
              <div class="mThmb">
                <img id="mt1" src="../../img//upload/thumb2.png" alt="" />
              </div>
              <div class="mThmb">
                <img id="mt2" src="../../img//upload/thumb3.png" alt="" />
              </div>
              <div class="mThmb uploader">
                <label for="uTh">
                  <input type="file" id="uTh" accept="image/*" />
                  <span>Upload<br />New Thumbnail</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  (function () {
    //Creating object
    let containerThumb = document.querySelector(".miniThumb");
    let thePreview = document.createElement("div");
    thePreview.className = "mThmb";
    let remover = document.createElement("span");
    remover.id = "removeCust";
    remover.innerHTML = "X";
    thePreview.appendChild(remover);
    let imgPart = document.createElement("img");
    imgPart.id = "customThumb";
    let custAdded = false;

    uTh.onchange = (evt) => {
      const [file] = uTh.files;
      if (file) {
        imgPart.src = URL.createObjectURL(file);
        thePreview.appendChild(imgPart);
        containerThumb.appendChild(thePreview);
        custAdded = true;
        //HIde uploader
        document.querySelector(".uploader.mThmb").style.display = "none";
      }
    };

    remover.addEventListener("click", () => {
      thePreview.remove();
      custAdded = false;
      document.querySelector(".uploader.mThmb").style.display = "block";
    });
  })();
</script>

{% endblock %}
