{% extends '../../layout/_layoutSidebar.twig' %} {% block title %} Upload
Publish - Boxclip {% endblock %} {% block javascripts %} {% endblock %} {% block
contents %}

<div class="uploadPage">
  <div class="videoListings">
    <div class="container">
      {% include "./components/_headerWithUploading.twig" %}

      <div class="topper">
        <div class="lf">
          <span>All Videos</span>
          <div class="filter">
            <div class="filItem active">Newest</div>
            <div class="filItem">Oldest</div>
          </div>
        </div>
        <div class="rt">
          <div class="searchVid">
            <input type="text" placeholder="Search..." />
          </div>
          <div class="upload">
            <a href="./upload1" class="pBtn">
              <svg
                width="13"
                height="15"
                viewBox="0 0 13 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2.56082 6.36319H4.44125V10.1967C4.44125 10.4651 4.64854 10.674 4.91506 10.674H7.22488C7.4914 10.674 7.69869 10.4651 7.69869 10.1967V6.36319H9.57912C9.9789 6.36319 10.201 5.90079 9.96409 5.58755L6.45494 1.02319C6.26246 0.769614 5.89229 0.769614 5.69981 1.02319L2.19066 5.58755C1.93895 5.90079 2.16105 6.36319 2.56082 6.36319Z"
                  fill="white"
                />
                <path
                  d="M11.8008 9.82397H9.9648C9.77231 9.82397 9.62425 9.97314 9.62425 10.167V12.3597C9.62425 12.4194 9.57983 12.4641 9.5206 12.4641H2.62076C2.56153 12.4641 2.51711 12.4194 2.51711 12.3597V10.167C2.51711 9.97314 2.36905 9.82397 2.17656 9.82397H0.34055C0.148065 9.82397 0 9.97314 0 10.167V14.6568C0 14.8507 0.148065 14.9999 0.34055 14.9999H11.8008C11.9933 14.9999 12.1414 14.8507 12.1414 14.6568V10.167C12.1414 9.97314 11.9933 9.82397 11.8008 9.82397Z"
                  fill="white"
                />
              </svg>
              <span>Upload</span></a
            >
          </div>
        </div>
      </div>

      <div class="videosLists">
        <div class="vidItem">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">
              <div class="vImg">
                <img src="../../img/dashboard/vid1.png" alt="" />
              </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-7 col-sm-6 col-6">
              <div class="vDesc">
                <div class="main">
                  <div class="vTitle">
                    4th of July, 2020
                    <span><i class="bi bi-eye-fill success"></i></span>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Adipiscing viverra dignissim venenatis enim id. Viverra
                    tincidunt vitae risus, mauris, ut mauris. Nam sit aliquet
                    curabitur pharetra mollis turpis.
                  </p>
                </div>
                <div class="meta">
                  <span class="dur">40 Min</span> <span>Dec 12, 2020</span>
                </div>
              </div>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-12">
              <div class="actions">
                <div class="butcons">
                  <a href="" class="act edit"
                    ><i class="bi bi-pencil-fill"></i
                  ></a>
                  <a href="" class="act delete"
                    ><i class="bi bi-trash-fill"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vidItem">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">
              <div class="vImg">
                <img src="../../img/dashboard/vid2.png" alt="" />
              </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-7 col-sm-6 col-6">
              <div class="vDesc">
                <div class="main">
                  <div class="vTitle">
                    The Big Island
                    <span><i class="bi bi-eye-fill pend"></i></span>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Adipiscing viverra dignissim venenatis enim id. Viverra
                    tincidunt vitae risus, mauris, ut mauris. Nam sit aliquet
                    curabitur pharetra mollis turpis.
                  </p>
                </div>
                <div class="meta">
                  <span class="dur">40 Min</span> <span>Dec 12, 2020</span>
                </div>
              </div>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-12">
              <div class="actions">
                <div class="butcons">
                  <a href="" class="act edit"
                    ><i class="bi bi-pencil-fill"></i
                  ></a>
                  <a href="" class="act delete"
                    ><i class="bi bi-trash-fill"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vidItem">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6">
              <div class="vImg">
                <img src="../../img/dashboard/vid1.png" alt="" />
              </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-7 col-sm-6 col-6">
              <div class="vDesc">
                <div class="main">
                  <div class="vTitle">
                    Wesley Takes the M&M Test
                    <span><i class="bi bi-eye-fill success"></i></span>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Adipiscing viverra dignissim venenatis enim id. Viverra
                    tincidunt vitae risus, mauris, ut mauris. Nam sit aliquet
                    curabitur pharetra mollis turpis.
                  </p>
                </div>
                <div class="meta">
                  <span class="dur">40 Min</span> <span>Dec 12, 2020</span>
                </div>
              </div>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-2 col-12">
              <div class="actions">
                <div class="butcons">
                  <a href="" class="act edit"
                    ><i class="bi bi-pencil-fill"></i
                  ></a>
                  <a href="" class="act delete"
                    ><i class="bi bi-trash-fill"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
