{% extends '../../layout/_layout.twig' %} {% block title %} Congratulations -
Boxclip {% endblock %} {% block javascripts %} {% endblock %} {% block contents
%}

<div class="signPage">
  <div class="logPho">
    <img src="../../img/login/signIllus.png" alt="" />
  </div>
  <div class="loginCard">
    <div class="create">
      <div class="container">
        <div class="creHead">Create New Client</div>
        <strong class="msg">Congratulations</strong>
        <small class="cSub">You have sucessfully created your account.</small>
        <a href="./auth/login" class="pBtn bBlock">Login</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
