{% extends '../../layout/_layoutInner.twig' %} {% block title %} Dashboard -
Boxclip {% endblock %} {% block javascripts %} {% endblock %} {% block contents
%}

<div
  class="userBanner"
  style="background-image: url(../../img/front/frontListing.png)"
>
  <div class="container">
    <div class="userCard">
      <div class="avat">
        <img src="../../img/front/avat.png" alt="" />
      </div>
      <div class="userName">Jonathan Walters</div>
      <div class="userDesig">Video Editor</div>
      <div class="userAddress">Halmstad, Sweden</div>
      <div class="userUrl">
        <a href="www.jonatanwalters.com" target="_blank"
          >www.jonatanwalters.com</a
        >
      </div>
      <table>
        <tr>
          <td>Videos</td>
          <td>48</td>
        </tr>
        <tr>
          <td>Total Views</td>
          <td>47k</td>
        </tr>
        <tr>
          <td>Any Data</td>
          <td>45</td>
        </tr>
      </table>
      <div class="userSocial">
        <ul>
          <li>
            <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
          </li>
          <li>
            <a href="" target="_blank"><i class="bi bi-twitter"></i></a>
          </li>
          <li>
            <a href="" target="_blank"><i class="bi bi-linkedin"></i></a>
          </li>
          <li>
            <a href="" target="_blank"><i class="bi bi-youtube"></i></a>
          </li>
          <li>
            <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
