{% extends '../../layout/_layoutInner.twig' %} {% block title %} Dashboard -
Boxclip {% endblock %} {% block javascripts %} {% endblock %} {% block contents
%}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div
  class="userBanner"
  style="background-image: url(../../img/front/frontListing.png)"
>
  <div class="container">
    <div class="userCard">
      <div class="avat">
        <img src="../../img/front/avat.png" alt="" />
      </div>
      <div class="userName">Jonathan Walters</div>
      <div class="userDesig">Video Editor</div>
      <div class="userAddress">Halmstad, Sweden</div>
      <div class="userUrl">
        <a href="www.jonatanwalters.com" target="_blank"
          >www.jonatanwalters.com</a
        >
      </div>
      <table>
        <tr>
          <td>Videos</td>
          <td>48</td>
        </tr>
        <tr>
          <td>Total Views</td>
          <td>47k</td>
        </tr>
        <tr>
          <td>Any Data</td>
          <td>45</td>
        </tr>
      </table>
      <div class="userSocial">
        <ul>
          <li>
            <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
          </li>
          <li>
            <a href="" target="_blank"><i class="bi bi-twitter"></i></a>
          </li>
          <li>
            <a href="" target="_blank"><i class="bi bi-linkedin"></i></a>
          </li>
          <li>
            <a href="" target="_blank"><i class="bi bi-youtube"></i></a>
          </li>
          <li>
            <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="vRecommended">
  <div class="container">
    <div class="sliderTag">
      <div class="owl-carousel owl-theme owl-tag">
        <div class="item">
          <div class="theTag"><a href="#!">Music</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Trailers</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Yoga</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Document</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Anime</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">News</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Vlogs</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Photography</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Meme</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Comedy</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Bass</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Rock</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Recently Uploaded</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Live</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">High liked</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Region Popular</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Most Followed</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Older</a></div>
        </div>
        <div class="item">
          <div class="theTag"><a href="#!">Rythm</a></div>
        </div>
      </div>
    </div>

    <div class="videosR">
      <div class="row">
        <div class="col-xl-3">
          <a class="rVid" href="#!">
            <div class="thumb">
              <img src="../../img/front/v1.png" alt="" />
            </div>
            <div class="vTitle">Fourth of July, 2020</div>
            <div class="meta">
              <span class="dur">12:20</span> <span>Dec 12, 2020</span>
            </div>
          </a>
        </div>
        <div class="col-xl-3">
          <a class="rVid" href="#!">
            <div class="thumb">
              <img src="../../img/front/v2.png" alt="" />
            </div>
            <div class="vTitle">Dear Makayla, Papa’s Graduation Advice</div>
            <div class="meta">
              <span class="dur">12:20</span> <span>Dec 12, 2020</span>
            </div>
          </a>
        </div>
        <div class="col-xl-3">
          <a class="rVid" href="#!">
            <div class="thumb">
              <img src="../../img/front/v3.png" alt="" />
            </div>
            <div class="vTitle">The Legend of Zelda</div>
            <div class="meta">
              <span class="dur">12:20</span> <span>Dec 12, 2020</span>
            </div>
          </a>
        </div>
        <div class="col-xl-3">
          <a class="rVid" href="#!">
            <div class="thumb">
              <img src="../../img/front/v4.png" alt="" />
            </div>
            <div class="vTitle">Tenet by Christopher Nolan</div>
            <div class="meta">
              <span class="dur">12:20</span> <span>Dec 12, 2020</span>
            </div>
          </a>
        </div>
        <div class="col-xl-3">
          <a class="rVid" href="#!">
            <div class="thumb">
              <img src="../../img/front/v5.png" alt="" />
            </div>
            <div class="vTitle">The big Island</div>
            <div class="meta">
              <span class="dur">12:20</span> <span>Dec 12, 2020</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cGroup">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="gHead">
          <strong>Groups</strong>
          <a href="#!">See all Groups >></a>
        </div>
      </div>
      <div class="col-xl-2">
        <a class="grpC" href="#!">
          <div class="fig">
            <img src="../../img/front/comedy.png" alt="" />
          </div>
          <div class="gName">Comedy</div>
        </a>
      </div>
      <div class="col-xl-2">
        <a class="grpC" href="#!">
          <div class="fig">
            <img src="../../img/front/clasics.png" alt="" />
          </div>
          <div class="gName">Classics</div>
        </a>
      </div>
      <div class="col-xl-2">
        <a class="grpC" href="#!">
          <div class="fig">
            <img src="../../img/front/crime.png" alt="" />
          </div>
          <div class="gName">Crime</div>
        </a>
      </div>
      <div class="col-xl-2">
        <a class="grpC" href="#!">
          <div class="fig">
            <img src="../../img/front/thriller.png" alt="" />
          </div>
          <div class="gName">Thriller</div>
        </a>
      </div>
      <div class="col-xl-2">
        <a class="grpC" href="#!">
          <div class="fig">
            <img src="../../img/front/adventure.png" alt="" />
          </div>
          <div class="gName">Adventure</div>
        </a>
      </div>
      <div class="col-xl-2">
        <a class="grpC" href="#!">
          <div class="fig">
            <img src="../../img/front/document.png" alt="" />
          </div>
          <div class="gName">Document</div>
        </a>
      </div>
    </div>
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script>
  $(".owl-tag").owlCarousel({
    stagePadding: 50,
    loop: false,
    margin: 10,
    nav: true,
    dots: false,
    autoWidth: true,
    navText: [
      `<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 14L12 -1.76425e-06L14 -1.7404e-06L14 14L12 14ZM8.34742e-08 7L10 13.67L10 0.329998L8.34742e-08 7Z" fill="white"/>
        </svg>
        `,
      `<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 -5.24537e-07L2 14L3.41715e-07 14L9.53674e-07 -6.11959e-07L2 -5.24537e-07ZM14 7L4 0.33L4 13.67L14 7Z" fill="white"/>
            </svg>
            `,
    ],
    responsive: {
      0: {
        items: 5,
      },
      600: {
        items: 6,
      },
      1000: {
        items: 9,
      },
    },
  });
</script>

{% endblock %}
