{% extends '../../layout/_layoutInner.twig' %} {% block title %} Video Player -
Boxclip {% endblock %} {% block javascripts %} {% endblock %} {% block contents
%}

<link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css" />

<div class="playerPg">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <div class="playing">
          <video
            id="playerDiv"
            class="thePlayer"
            controls
            preload="auto"
            width="100%"
            height="auto"
            data-poster="../../img/front/vThumb.png"
          >
            <source
              src="https://res.cloudinary.com/drqgginx9/video/upload/v1632043205/boxClip/Lemon_-_82602_ppwh1g.mp4"
              type="video/mp4"
            />
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider
              upgrading to a web browser that
            </p>
          </video>
        </div>
        <div class="videoInfo">
          <div class="topBar">
            <div class="time">December 20 , 2020</div>
            <div class="views">20,000 Views</div>
          </div>
          <div class="vidName">
            <strong>Escalante</strong>
          </div>
          <div class="vidDesc">
            <p>
              On Mother's Day weekend we took the family down to Escalante,
              Utah. We enjoyed our time in Goblin Valley and Lower Calf Falls.
              April 2020
            </p>
          </div>
          <div class="vidTags">
            <div class="vrow">
              <a href="#!" class="vTag">#hiking</a>
              <a href="#!" class="vTag">#woods</a>
              <a href="#!" class="vTag">#dishes</a>
              <a href="#!" class="vTag">#food</a>
              <a href="#!" class="vTag">#scenes</a>
            </div>
          </div>
        </div>
        {% include "./components/_comments.twig" %}
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="marginLf">
          <a class="author" href="">
            <div class="row">
              <div class="col-3">
                <div class="auth">
                  <img src="../../img/front/author.png" alt="" />
                </div>
              </div>
              <div class="col-9">
                <div class="authInfo">
                  <div class="name">Adam Cazier</div>
                  <div class="type">FilmMaker</div>
                </div>
              </div>
            </div>
          </a>
          <div class="relVid">
            <div class="videoRow">
              <a class="vidItem" href="#!">
                <div class="row">
                  <div class="col-5">
                    <div class="img">
                      <img src="../../img/dashboard/vid1.png" alt="" />
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="vidInfo">
                      <div class="vidTitle">4th of July, 2020</div>
                      <div class="vidDate">Dec 12, 2020</div>
                    </div>
                  </div>
                </div>
              </a>
              <a class="vidItem" href="#!">
                <div class="row">
                  <div class="col-5">
                    <div class="img">
                      <img src="../../img/dashboard/vid2.png" alt="" />
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="vidInfo">
                      <div class="vidTitle">The Big Island</div>
                      <div class="vidDate">Nov 17, 2020</div>
                    </div>
                  </div>
                </div>
              </a>
              <a class="vidItem" href="#!">
                <div class="row">
                  <div class="col-5">
                    <div class="img">
                      <img src="../../img/dashboard/vid3.png" alt="" />
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="vidInfo">
                      <div class="vidTitle">Wesley Takes the M&M Test</div>
                      <div class="vidDate">Mar 21, 2021</div>
                    </div>
                  </div>
                </div>
              </a>
              <a class="vidItem" href="#!">
                <div class="row">
                  <div class="col-5">
                    <div class="img">
                      <img src="../../img/front/v2.png" alt="" />
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="vidInfo">
                      <div class="vidTitle">Wesley Takes the M&M Test</div>
                      <div class="vidDate">Mar 21, 2021</div>
                    </div>
                  </div>
                </div>
              </a>
              <a class="vidItem" href="#!">
                <div class="row">
                  <div class="col-5">
                    <div class="img">
                      <img src="../../img/front/v3.png" alt="" />
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="vidInfo">
                      <div class="vidTitle">4th of July, 2020</div>
                      <div class="vidDate">Dec 12, 2020</div>
                    </div>
                  </div>
                </div>
              </a>
              <a class="vidItem" href="#!">
                <div class="row">
                  <div class="col-5">
                    <div class="img">
                      <img src="../../img/front/v5.png" alt="" />
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="vidInfo">
                      <div class="vidTitle">The Big Island</div>
                      <div class="vidDate">Nov 17, 2020</div>
                    </div>
                  </div>
                </div>
              </a>
              <a class="vidItem" href="#!">
                <div class="row">
                  <div class="col-5">
                    <div class="img">
                      <img src="../../img/front/v4.png" alt="" />
                    </div>
                  </div>
                  <div class="col-7">
                    <div class="vidInfo">
                      <div class="vidTitle">Wesley Takes the M&M Test</div>
                      <div class="vidDate">Mar 21, 2021</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.plyr.io/3.6.8/plyr.js"></script>
<script>
  const player = new Plyr("#playerDiv");
</script>

{% endblock %}
