{% extends '../../layout/_layoutInner.twig' %} {% block title %} Search -
Boxclip {% endblock %} {% block javascripts %} {% endblock %} {% block contents
%}

<div class="searchPg">
  <div class="container">
    <div class="row">
      <div class="col-xl-3">
        <div class="filterSrch">
          <div class="head">Filter</div>
          <div class="grpFilter">
            <div class="title">Top Groups</div>
            <form action="">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="group"
                  id="documents"
                  checked
                />
                <label class="form-check-label" for="documents">
                  Documentries
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="group"
                  id="classics"
                />
                <label class="form-check-label" for="classics">
                  Classics
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="group"
                  id="comedy"
                />
                <label class="form-check-label" for="comedy"> Comedy </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="group"
                  id="covid"
                />
                <label class="form-check-label" for="covid"> Covid </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="group"
                  id="romance"
                />
                <label class="form-check-label" for="romance"> Romance </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="group"
                  id="drama"
                />
                <label class="form-check-label" for="drama"> Drama </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="group"
                  id="ryhm"
                />
                <label class="form-check-label" for="ryhm"> Ryhm </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="group"
                  id="adventure"
                />
                <label class="form-check-label" for="adventure">
                  Adventure
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="group"
                  id="wildlife"
                />
                <label class="form-check-label" for="wildlife">
                  Wildlife
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="group"
                  id="knowledge"
                />
                <label class="form-check-label" for="knowledge">
                  Knowledge
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="group"
                  id="music"
                />
                <label class="form-check-label" for="music"> Music </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="group"
                  id="live"
                />
                <label class="form-check-label" for="live"> Live </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="group"
                  id="sports"
                />
                <label class="form-check-label" for="sports"> Sports </label>
              </div>
              <div class="moreTog">
                <span class="more">
                  <i class="bi bi-arrow-down"></i> View More Groups</span
                >
                <span class="less">
                  <i class="bi bi-arrow-up"></i> View Less Groups</span
                >
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-9">
        <div class="srchHead">
          Search Result for : <strong>One Piece</strong>
        </div>
        <div class="sortFilt">
          <span>Sort By</span>
          <div class="filter">
            <div class="filItem active">Newest</div>
            <div class="filItem">Oldest</div>
          </div>
        </div>
        <div class="videosR">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <a class="rVid" href="#!">
                <div class="thumb">
                  <img src="../../img/front/v1.png" alt="" />
                </div>
                <div class="vTitle">Fourth of July, 2020</div>
                <div class="meta">
                  <span class="dur">12:20</span> <span>Dec 12, 2020</span>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <a class="rVid" href="#!">
                <div class="thumb">
                  <img src="../../img/front/v2.png" alt="" />
                </div>
                <div class="vTitle">Dear Makayla, Papa’s Graduation Advice</div>
                <div class="meta">
                  <span class="dur">12:20</span> <span>Dec 12, 2020</span>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <a class="rVid" href="#!">
                <div class="thumb">
                  <img src="../../img/front/v3.png" alt="" />
                </div>
                <div class="vTitle">The Legend of Zelda</div>
                <div class="meta">
                  <span class="dur">12:20</span> <span>Dec 12, 2020</span>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <a class="rVid" href="#!">
                <div class="thumb">
                  <img src="../../img/front/v4.png" alt="" />
                </div>
                <div class="vTitle">Tenet by Christopher Nolan</div>
                <div class="meta">
                  <span class="dur">12:20</span> <span>Dec 12, 2020</span>
                </div>
              </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <a class="rVid" href="#!">
                <div class="thumb">
                  <img src="../../img/front/v5.png" alt="" />
                </div>
                <div class="vTitle">The big Island</div>
                <div class="meta">
                  <span class="dur">12:20</span> <span>Dec 12, 2020</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  (function () {
    let togMore = document.querySelector(".moreTog");
    let tenchecks = document.querySelectorAll(".grpFilter .form-check");
    togMore.addEventListener("click", () => {
      togMore.classList.toggle("expand");
      tenchecks.forEach((a, i) => {
        if (i > 10) {
          a.classList.toggle("show");
        }
      });
    });

    window.onload = () => {
      tenchecks.forEach((a, i) => {
        if (i < 11) {
          a.classList.add("show");
        }
      });
    };
  })();
</script>

{% endblock %}
