<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content signupModal">
      <div class="modal-body">
        <div class="signupForm">
          <div class="topHead">
            <strong>Create New Account</strong>
            <span>Fill the details below to create a gold membership</span>
          </div>
          <div class="oauth">
            <div class="butcons">
              <a href="#!">
                <img src="../../../img/login/fb.png" alt="" />
                <span>Sign Up with Facebook</span>
              </a>
            </div>
            <div class="butcons">
              <a href="#!">
                <img src="../../../img/login/ggl.png" alt="" />
                <span>Sign Up with Google</span>
              </a>
            </div>
          </div>
          <form action="">
            <div class="formItem mformItem">
              <input
                class="minput"
                type="text"
                id="fullname"
                placeholder="Full Name"
              />
              <label class="mlabel" for="fullname">Full Name</label>
            </div>
            <div class="formItem mformItem">
              <input
                class="minput"
                type="text"
                id="address"
                placeholder="Contact Address"
              />
              <label class="mlabel" for="address">Contact Address</label>
            </div>
            <div class="formItem mformItem">
              <input
                class="minput"
                type="text"
                id="country"
                placeholder="Country"
              />
              <label class="mlabel" for="country">Country</label>
            </div>
            <div class="formItem mformItem">
              <input
                class="minput"
                type="text"
                id="organization"
                placeholder="Organization"
              />
              <label class="mlabel" for="organization">Organization</label>
            </div>
            <div class="formItem mformItem">
              <input
                class="minput"
                type="email"
                id="email"
                placeholder="Email Address"
              />
              <label class="mlabel" for="email">Email Address</label>
            </div>
            <div class="formItem mformItem">
              <input
                class="minput"
                type="password"
                id="password"
                placeholder="Passwod"
              />
              <label class="mlabel" for="password">Password</label>
            </div>
            <div class="formItem mformItem">
              <input
                class="minput"
                type="password"
                id="repassword"
                placeholder="Confirm Password"
              />
              <label class="mlabel" for="repassword">Confirm Password</label>
            </div>
            <div class="formItem inline-form">
              <input type="checkbox" id="terms" />
              <label for="terms"
                >I Agree to the Boxklip Application's
                <a href="#!"> Privacy Policy </a>and
                <a href="#!">Terms And Conditions</a>.</label
              >
            </div>
            <div class="bottomPrt">
              <div class="signUser">
                <input type="submit" class="pBtn" value="Register" id="" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
