//Form
.formItem {
  margin-bottom: 1em;
  .form-label {
    font-size: 1.2em;
    color: $color-white;
  }
  .form-control {
    background-color: transparent;
    border: 1px solid #808080;
    padding: 0 0.5em;
    height: 43px;
    color: $color-white;
  }
  .form-check-label {
    color: #aeaeae;
  }
}
.inline-form {
  display: flex;
  align-items: flex-start;
  input {
    margin-right: 1em;
  }
}

//Buttons
.pBtn {
  background-color: $primary-color;
  border: 0;
  padding: 0.8em 1.2em;
  color: $color-white;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  font-weight: $font-sbold;
}

//Tab
.theTab {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  &.nav-tabs {
    border-bottom: 0;
  }
  .tabItem {
    cursor: pointer;
    background-color: #333333;
    font-size: 1.1em;
    color: #8a8a8a;
    font-weight: $font-bold;
    overflow: hidden;
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .nav-link {
      padding: 1em 1.5em;
      color: $color-white;
    }
    button {
      border: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &:focus {
        outline: none;
        border: 0;
      }
      &.active {
        background-color: $primary-color;
        color: $color-white;
      }
    }
  }
}

//FakeDP
.userDP {
  background-color: $primary-color;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  text-decoration: none;
  padding: 1em;
  font-size: 0.8em;
  &:hover {
    color: $color-white;
  }
}

//Dashboard Header common

.top {
  .headRow {
    display: flex;
    justify-content: space-between;
    .sideTog {
      svg {
        cursor: pointer;
        &.opened {
          display: none;
        }
      }
      &.sideshow {
        svg {
          &.opened {
            display: inline-block;
          }
          &.closed {
            display: none;
          }
        }
      }
    }
    img {
      width: 120px;
    }
    .hamMenu {
      display: none;
      @include lg {
        display: block;
      }
    }
    .searchPrt {
      display: flex;
      align-items: center;
      .fav,
      .upload {
        margin-left: 1em;
      }
    }
  }
}
