//material Input
.mformItem {
  position: relative;
}
.minput {
  background-color: transparent;
  border: 0;
  width: 100%;
  color: $color-white;
  border-bottom: 1px solid #585858;
  padding: 0.5em 0;
  transition: 0.3s;
  &:focus {
    outline: 0;
    ~ .mlabel {
      color: $color-white;
      transform: scale(0.6);
    }
  }
  &.mshow {
    ~ .mlabel {
      color: $color-white;
      transform: scale(0.6);
    }
  }
  &::-webkit-input-placeholder {
    transition: color 300ms ease;
  }
  &:not(:focus)::-webkit-input-placeholder {
    color: transparent;
  }
}
.mlabel {
  position: absolute;
  color: #aeaeae;
  left: 0;
  top: 0;
  transform-origin: 0 -150%;
  transition: transform 300ms ease;
}

//Form
.formItem {
  margin-bottom: 2em;
  label {
    color: $color-white;
    a {
      color: $primary-color;
      text-decoration: none;
    }
  }
}
.inline-form {
  display: flex;
  align-items: flex-start;
  input {
    margin-right: 1em;
  }
}

//Buttons
.pBtn {
  background-color: $primary-color;
  border: 0;
  padding: 0.8em 1.2em;
  color: $color-white;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  font-weight: $font-sbold;
}

//Tab
.theTab {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  &.nav-tabs {
    border-bottom: 0;
  }
  .tabItem {
    cursor: pointer;
    background-color: #333333;
    font-size: 1.1em;
    color: #8a8a8a;
    font-weight: $font-bold;
    overflow: hidden;
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .nav-link {
      padding: 1em 1.5em;
      color: $color-white;
    }
    button {
      border: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &:focus {
        outline: none;
        border: 0;
      }
      &.active {
        background-color: $primary-color;
        color: $color-white;
      }
    }
  }
}

//FakeDP
.userDP {
  background-color: $primary-color;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  text-decoration: none;
  padding: 1em;
  font-size: 0.8em;
  &:hover {
    color: $color-white;
  }
}
