//Form
.formItem {
  margin-bottom: 1em;
  .form-label {
    font-size: 1.2em;
    color: $color-white;
  }
  .form-control {
    background-color: transparent;
    border: 1px solid #808080;
    padding: 0 0.5em;
    height: 43px;
    color: $color-white;
  }
  .form-check-label {
    color: #aeaeae;
  }
}
.inline-form {
  display: flex;
  align-items: flex-start;
  input {
    margin-right: 1em;
  }
}

//Buttons
.pBtn {
  background-color: $primary-color;
  border: 0;
  padding: 0.8em 1.2em;
  color: $color-white;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  font-weight: $font-sbold;
}

//Tab
.theTab {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  &.nav-tabs {
    border-bottom: 0;
  }
  .tabItem {
    cursor: pointer;
    background-color: #333333;
    font-size: 1.1em;
    color: #8a8a8a;
    font-weight: $font-bold;
    overflow: hidden;
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .nav-link {
      padding: 1em 1.5em;
      color: $color-white;
    }
    button {
      border: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      &:focus {
        outline: none;
        border: 0;
      }
      &.active {
        background-color: $primary-color;
        color: $color-white;
      }
    }
  }
}

//FakeDP
.userDP {
  background-color: $primary-color;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  text-decoration: none;
  padding: 1em;
  font-size: 0.8em;
  &:hover {
    color: $color-white;
  }
}

//Dashboard Header common
.dashboardPage.openedSide {
  .homeMe {
    display: none;
  }
}
.top {
  margin-bottom: 2em;
  .headLogo {
    display: flex;
    align-items: center;
  }
  .headRow {
    display: flex;
    justify-content: space-between;
    .sideTog {
      margin-right: 1em;
      @include lg {
        display: none;
      }
      svg {
        cursor: pointer;
        &.opened {
          display: none;
        }
        path {
          fill: $primary-color;
        }
      }
      &.sideshow {
        svg {
          &.opened {
            display: inline-block;
          }
          &.closed {
            display: none;
          }
        }
      }
    }
    .homeMe {
      @include sm {
        display: none;
      }
      img {
        width: 120px;
      }
    }
    .hamMenu {
      display: none;
      @include lg {
        display: inline-block;
      }
    }
    .searchPrt {
      display: flex;
      align-items: center;
      .fav,
      .upload {
        margin-left: 1em;
      }
    }
  }
}

.top.header {
  background-color: #222;
  padding: 1em;
  margin: 0;
  .logo {
    img {
      width: 120px;
    }
  }
}

.uploadingStat {
  margin-left: 2em;
  min-width: 600px;
  @include xl {
    min-width: 400px;
  }
  @include lg {
    min-width: 300px;
  }
  @include md {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #141414;
    padding: 6px;
    z-index: 1;
    border-radius: 4px;
  }
  @include sm {
    width: 60%;
  }
  .upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4em;
    .stat {
      color: $color-white;
      .title {
        font-weight: $font-bold;
        font-size: 1.1em;
        text-transform: uppercase;
      }
      .rem {
        display: flex;
        .done {
          color: #8a8a8a;
        }
        .doing {
          padding-left: 1em;
          font-size: 0.9em;
          color: #c4c4c4;
          position: relative;
          &:before {
            position: absolute;
            content: "";
            width: 4px;
            height: 4px;
            right: calc(100% - 0.7em);
            top: calc(50% - 4px);
            background-color: #8a8a8a;
            border-radius: 50%;
          }
        }
      }
    }
    .actions {
      display: flex;
      .acBtn {
        cursor: pointer;
        margin-left: 0.4em;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 0.8em;
        }
        &.continue {
          background-color: green;
        }
        &.pause {
          background-color: #b1d0ff;
        }
        &.cancel {
          background-color: #ffa6a6;
        }
      }
    }
  }
  .lower {
    .progress {
      background-color: #343434;
      height: 0.6em;
      .progress-bar {
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.darkMe-toast {
  .toast {
    background-color: $back-black;
    border: 1px solid $primary-color;
    border-radius: 8px;
    color: $color-white;
  }
}
