.create {
  display: flex;
  min-height: 80vh;
  align-items: center;
  .creHead {
    color: $color-white;
    font-weight: $font-bold;
    font-size: 1.6em;
    border-bottom: 1px solid $color-white;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
  }
  form {
    width: 40%;
    @include lg {
      width: 100%;
    }
    textarea {
      resize: none;
    }
  }
}

.groupPhoto {
  #gPrev {
    display: none;
  }
  #gPrev.choosed {
    width: 120px;
    height: auto;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 1em;
    @include sm {
      margin: 2em auto;
    }
  }
  label.pBtn {
    padding: 0.4em 0.8em;
    font-size: 1em;
  }
  input {
    display: none;
  }
  .pDbtn {
    padding: 0.3em 0.8em;
    background-color: #484848;
    cursor: pointer;
    color: #fff;
    margin-left: 1em;
    border-radius: 2px;
    border: 0;
  }
}

.assignPage.signPage {
  @include lg {
    height: 100vh;
  }
}
.assignForm {
  .profilePhoto {
    #pPrev {
      display: none;
    }
    #pPrev.choosed {
      width: 90px;
      height: 90px;
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1em;
      @include sm {
        margin: 2em auto;
      }
    }
    label.pBtn {
      padding: 0.4em 0.8em;
      font-size: 1em;
      min-width: auto !important;
    }
    input {
      display: none;
    }
    .pDbtn {
      padding: 0.3em 0.8em;
      background-color: #484848;
      cursor: pointer;
      color: #fff;
      margin-left: 1em;
      border-radius: 2px;
      border: 0;
    }
  }

  .input-group {
    span#basic-addon1 {
      background: transparent;
      color: #fff;
      border: 1px solid #808080;
      border-right: 0;
    }
    input {
      border-left: 0;
    }
  }
  .form-label {
    font-size: 1.6em;
  }
  .subT {
    display: block;
    color: $color-white;
    margin-bottom: 1em;
    font-size: 1em;
  }
}

.cSub {
  font-size: 1em;
  display: block;
  color: $color-white;
  margin-bottom: 1em;
}
