.dashboardPage {
  display: flex;
  &.openedSide {
    aside {
      width: 300px;
      position: sticky;
      top: 0;
    }
  }
  aside {
    width: 0;
    overflow: hidden;
    transition: 0.3s;
    @include lg {
      position: fixed;
      left: -300px;
      top: 0;
      z-index: 2;
      &.slide {
        left: 0;
      }
    }
    @include sm {
      width: 80%;
      left: -80%;
    }
  }

  &.openedSide {
    main {
      width: calc(100% - 300px);
    }
  }
  main {
    width: 100%;
    transition: 0.3s;
    @include lg {
      width: 100%;
    }
  }
}
