.dashboardPage {
  display: flex;
  &.openedSide {
    aside {
      width: 300px;
      position: sticky;
      top: 0;
      @include lg {
        position: fixed;
        left: -300px;
        top: 0;
        z-index: 2;
        width: 300px;
        &.slide {
          left: 0;
        }
      }
    }
  }
  aside {
    width: 0;
    transition: 0.3s;
    @include lg {
      position: fixed;
      overflow: hidden;
      left: -300px;
      top: 0;
      z-index: 2;
      width: 300px;
      &.slide {
        left: 0;
      }
    }
    @include sm {
      width: 80%;
      left: -80%;
    }
  }

  &.openedSide {
    main {
      width: calc(100% - 300px);
      @include lg {
        width: 100%;
      }
    }
  }
  main {
    width: 100%;
    transition: 0.3s;
    @include lg {
      width: 100%;
    }
  }
}
