{% extends 'layout/_layout.twig' %} {% block title %} Pace Setter {% endblock %}
{% block javascripts %} {% endblock %} {% block contents %}

<section class="top">Welcome to boxclip</section>

{% endblock %}
