{% extends 'layout/_layout.twig' %} {% block title %} Box Clip {% endblock %} {%
block javascripts %} {% endblock %} {% block contents %}

<section class="homePage">
  <span
    >Welcome to boxclip. Go login <a href="./pages/auth/login">here</a></span
  >
</section>

{% endblock %}
